<header class="container-fluid d-flex flex-row justify-content-between align-items-center p-3">
  <h1>
    <a class="rounded px-3 pt-1 pb-3" routerLink="/">
      <img class="img-fluid" src="assets/images/logo-transparent.png" alt="Logo">
    </a>
  </h1>
  <nav>
    <button class="btn m-2" routerLink="/movies">
      {{ "Movies" | translate }}
    </button>
    <button class="btn m-2" routerLink="/tvshows">
      {{ "TvShows" | translate }}
    </button>
    <button class="btn m-2" routerLink="/about">
      {{ "About" | translate }}
    </button>
  </nav>
</header>
<main class="container-fluid d-flex flex-column justify-content-center align-items-center mt-auto mb-auto">
  <router-outlet></router-outlet>
</main>
