<header class="container-fluid d-flex flex-row justify-content-between align-items-center p-3">
  <h1>
    <a class="rounded px-3 pt-1 pb-3" routerLink="/">
      <img class="img-fluid" src="assets/images/logo-transparent.png" alt="Logo">
    </a>
  </h1>
  <nav class="navbar">
    <button class="btn m-2" routerLink="/movies">
      {{ "Movies" | translate }}
    </button>
    <button class="btn m-2" routerLink="/tvshows">
      {{ "TvShows" | translate }}
    </button>
    <button class="btn m-2" routerLink="/about">
      {{ "About" | translate }}
    </button>
  </nav>
</header>
<main class="container-fluid d-flex flex-column justify-content-center align-items-center p-5 my-auto">
  <router-outlet></router-outlet>
</main>
<footer class="container-fluid d-flex flex-row justify-content-between align-items-center p-3">
  <p class="mb-0">© 2021 Time2Watch - {{ "University" | translate }}</p>
  <div class="btn-group dropup">
    <button class="btn dropdown-toggle" data-bs-toggle="dropdown">
      {{ "Language" | translate }}
    </button>
    <ul class="dropdown-menu">
      <li class="dropdown-item active" (click)="translate.use('fr')" [class.active]="'fr' === translate.currentLang">
        <i class="flag-icon flag-icon-fr"></i> {{ "French" | translate }}
      </li>
      <li class="dropdown-item" (click)="translate.use('en')" [class.active]="'en' === translate.currentLang">
        <i class="flag-icon flag-icon-gb"></i> {{ "English" | translate }}
      </li>
    </ul>
  </div>
</footer>
