/*Background colors*/
body {
  background-color: #1b1b1b;
}

header, footer {
  background-color: #121212;
}

/*Header and footer size*/
header, footer {
  height: 6rem;
}

/*Titles style*/
h2 {
  color: #e6af2e;
}

/*Buttons style*/
.btn {
  color: #e6af2e;
}

.btn:hover {
  color: #e6af2e;
  background-color: #1b1b1b;
}

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none;
}

/*Text style*/
a {
  text-decoration: none;
  color: #a9a9a9;
}

a:hover {
  color: #e6af2e;
}

p {
  color: #a9a9a9;
}
