<main class="container-fluid d-flex flex-column justify-content-center align-items-left p-5">
  <section>
    <h2>{{ "TrendingMovies" | translate }}</h2>
    <div class="d-flex flex-row justify-content-between col-11 mx-auto">
      <div class="d-flex flex-column" *ngFor="let movie of movies">
        <img class="img-fluid" alt="Poster"
             src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/{{ movie.poster_path }}">
        <p>{{ movie.title }}</p>
      </div>
    </div>
  </section>
  <section>
    <h2>{{ "TrendingTvShows" | translate }}</h2>
  </section>
</main>
