<main class="container-fluid d-flex flex-row justify-content-left align-items-start p-5">
  <img class="img-fluid rounded" alt="Poster"
       src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/sVeJ29yoYF9iExsALVBGLY26Of2.jpg">
  <section class="mx-5 col-5">
    <h3>Bob l'éponge, le film : Éponge en eaux troubles</h3>
    <h4 class="mb-3">2020</h4>
    <div class="d-flex flex-row">
      <p class="me-5"><i class="bi bi-clock me-1"></i> 1h31min</p>
      <p><i class="bi bi-heart me-1"></i> 7.8/10</p>
    </div>
    <div class="my-3">
      <p>
        Suite à l’escargotnapping de Gary, son compagnon de toujours, Bob entraîne Patrick dans une folle aventure vers
        la Cité Perdue d’Atlantic City afin de le retrouver. A travers cette mission sauvetage pleine de surprises, de
        merveilles et de dangers, Bob l’Éponge et ses acolytes vont réaliser que rien n’est plus fort que le pouvoir de
        l’amitié.
      </p>
    </div>
    <div>
      <div class="d-flex flex-row flex-wrap pt-3">
        <p class="col-3 mb-1 text-uppercase fw-bold">Réalisateur</p>
        <p class="mb-1">Tim Hill</p>
      </div>
      <div class="d-flex flex-row flex-wrap">
        <p class="col-3 mb-1 text-uppercase fw-bold">Scénario</p>
        <p class="mb-1">Glenn Berger, Jonathan Aibel</p>
      </div>
      <div class="d-flex flex-row flex-wrap">
        <p class="col-3 mb-1 text-uppercase fw-bold">Personnages</p>
        <p class="mb-1">Stephen Hillenburg</p>
      </div>
    </div>
  </section>
</main>
